<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Multi CBDC Bridge Use Case Proposal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Multi CBDC Bridge Use Case Proposal</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="row">
    <div class="col-12">
      <div class="quality-select">
        <form action="#">
          <div class="input-counter" style="text-align: center;">
            <button (click)="subtratZoom()" class=""><ion-icon name="remove-outline"></ion-icon></button>
            Zoom
            <button (click)="addZoom()" class=""><ion-icon name="add-outline"></ion-icon></button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <pdf-viewer [src]="pdfSrc"
              [render-text]="true"
              [original-size]="false"
              [zoom-scale] = "'page-width'"
              [zoom]="zoom"
              style="width: 400px; height: 800px"
  ></pdf-viewer>
</ion-content>
