<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Case Proposel</ion-card-title>
          <ion-card-subtitle>CBDC Bridge</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          This is the firs APP about how read in this app
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Presented By</ion-card-title>
          <ion-card-subtitle>Julian Camilo Jimenez</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Engeneer in Computer Science
        </ion-card-content>
      </ion-card>


    </ion-toolbar>
  </ion-header>



</ion-content>
