<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card style="text-align: center;">
        <img alt="Silhouette of mountains" src="./assets/mbridge.jpeg"/>
        <ion-card-header>
          <ion-card-title>Project mBridge</ion-card-title>
          <ion-card-subtitle>Connecting economies through CBDC</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          The payment system underpinning cross-border financial flows has not kept pace with rapid growth in global
          economic integration. The global network of correspondent banks that facilitates international payments
          is hindered by high costs, low speed and transparency, and operational complexities. Banks are also paring
          back their correspondent networks and services, leaving many participants (notably emerging market and developing economies)
          without sufficient or affordable access to the global financial system.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>CBDC Bridge</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Multiple CBDC (multi-CBDC) arrangements that directly connect jurisdictional digital currencies in a single
          common technical infrastructure offer significant potential to improve the current system and allow cross-border
          payments to be immediate, cheap and universally accessible with secure settlement.

          The BIS Innovation Hub Hong Kong Centre, the Hong Kong Monetary Authority, the Bank of Thailand, the Digital
          Currency Institute of the People's Bank of China and the Central Bank of the United Arab Emirates are working
          together to build such a multi-CBDC platform, known as mBridge.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Presented By</ion-card-title>
          <ion-card-subtitle>Julian Camilo Jimenez</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Engineer in Computer Science
        </ion-card-content>
      </ion-card>


    </ion-toolbar>
  </ion-header>



</ion-content>
